@model blog_template.Data.Domain.Blog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Textbox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Textbox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.AccessLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
